.header-row {
  background-color: #282c34;
  height: 12vh;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;

}

.dashboard-row {
  margin: 20px auto;
  padding: 20px;
  background-color: #282c34b0;
  height: 88vh;
  overflow-y: auto;
  max-width: 95%;
}